# Python
**/__pycache__/
*.py[cod]
*.pyo
*.pyd
*.egg-info/

# Virtual environments
.venv/
venv/
env/

# Environment variables
.env

# VS Code
.vscode/

# Docker
postgres_data/

# Logs
*.log

# Python cache
.pytest_cache/
.mypy_cache/

# SQLite
*.db

# Broker / financial import files
backend/*.csv
*.pdf

# Frontend
frontend/node_modules/
frontend/dist/

# Project helper files
project_tree.txt

# OS files
.DS_Store
Thumbs.db